.wow {
  width: 100px;
}

p{
	font-size: 20px
}

.pDirections{
	font-size: 20px;
	color: red;
	font-weight: bold;
}

.blueGreyDiv {
  background-color: lightgrey;
  width: 500px;
  border: 15px solid #1623d4;
  padding: 25px;
  margin: 10px;
	font-size: 20px
}
